* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}

.background{
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);

}

.container {
    position: relative;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    z-index: 1;
    
}

.auth-box {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #608969;
    margin-bottom: 30px;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Marker Felt';
}


h2 {
    color: #064922;
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: center;
}

.form-container {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    padding: 12px;
    border: 1px solid #dadce0;
    border-radius: 4px;
    font-size: 16px;
}

select {
  padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    color: #707070;
}

input:focus {
    outline: none;
    border-color: #608969;
}

button {
    background-color: #608969;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #608969;
}

p {
    text-align: center;
    margin-top: 15px;
    color: #5f6368;
}

a {
    color: #608969;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
} 