.home-page .resultat-tir {
  position: relative;
  width: 100%;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home-page .rectangle-vert{
  width: 100%;
  height: 70px;
  left: 0;
  background-color: #608969;
  position: relative;


}

.resultat-note,
.resultat-details {
  font-family: "Inter-Bold", Helvetica, Arial, sans-serif;
}

.resultat-note {
  display: block;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin: 40px auto 0 auto;
  position: static !important;
  z-index: auto !important;
}

.resultat-details {
  display: block;
  text-align: center;
  margin: 24px auto 0 auto;
  font-size: 1.1em;
  font-weight: normal;
  position: static !important;
  z-index: auto !important;
}